<!-- This program is based on redmine/app/views/issues/_list.html.erb -->

<% query_options = nil unless defined?(query_options) %>
<% query_options ||= {} %>

<div class="autoscroll-outer">
<div class="autoscroll">
  <table class="list issues odd-even <%= query.css_classes %>">
    <thead>
      <tr>
        <th class="issue-status">
          <div class="buttons buttons-left-side">
            <button class="prev ui-icon  ui-icon-triangle-1-n" onclick="IssueNoteList.fn.prevNote(event)"></button>
            <button class="next ui-icon  ui-icon-triangle-1-s" onclick="IssueNoteList.fn.nextNote(event)"></button>
          </div>
          <%= l(:label_issue_details, scope: :issue_note_list) %>
          <div class="column-filter">
            <span class="icon-only icon-list" title=<%= l(:label_sort) %>></span>
          <% query.inline_columns.each do |column| %>
            <%= column_names(query, column, query_options) %>
          <% end %>
          </div>
        </th>
        <th class="recent_notes">
          <%= l(:label_recent_notes, scope: :issue_note_list) %>
          <div class="buttons buttons-right-side">
            <% if @allowed_to_add_note %>
            <button
              class="mui-icon mui-icon-right_panel_open show-add-note-fields"
              title="<%= l(:label_show_the_new_note_input_fields, scope: :issue_note_list) %>"
              onclick="IssueNoteList.fn.toggleAddNotesField()">
            </button>
            <% end %>
          </div>
        </th>
        <% if @allowed_to_add_note %>
        <th class="add-notes">
          <%= l(:label_add_note) %>
          <div class="buttons buttons-left-side">
            <button
              class="mui-icon mui-icon-forms_add_on"
              title="<%= l(:label_submit_all, scope: :issue_note_list) %>"
              onclick="IssueNoteList.fn.submitAll()">
            </button>
          </div>
          <div class="buttons buttons-right-side">
            <button
              class="mui-icon mui-icon-right_panel_close hide-add-note-fields"
              title="<%= l(:label_hide_the_new_note_input_fields, scope: :issue_note_list) %>"
              onclick="IssueNoteList.fn.toggleAddNotesField()">
            </button>
          </div>
        </th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% grouped_issue_list(issues, query) do |issue, level, group_name, group_count, group_totals| -%>
        <% if group_name %>
          <% reset_cycle %>
          <tr class="group open">
            <td colspan="<% @allowed_to_add_note ? 3 : 2 %>">
              <span class="expander icon icon-expanded" onclick="toggleRowGroup(this);">&nbsp;</span>
              <span class="name"><%= group_name %></span>
              <span class="badge badge-count count"><%= group_count %></span>
              <span class="totals"><%= group_totals %></span>
              <%= link_to_function("#{l(:button_collapse_all)}/#{l(:button_expand_all)}",
                                   "toggleAllRowGroups(this)", class: "toggle-all") %>
            </td>
          </tr>
        <% end %>
        <tr
          id="issue-<%= issue.id %>"
          class="<%= issue_row_classes(issue, level, @enable_compact_mode, @enable_variable_height) %>">
          <td class="issue-status subject">
            <div class="header">
              <div class="header-text">
                <%= link_to issue_path(issue), title: "##{issue.id}: #{issue.subject}" do %>
                  <%= "#" + issue.id.to_s  %>
                  <%= content_tag("span", ": " + issue.subject, class: "id-with-subject") %>
                <% end %>
              </div>
              <div class="header-buttons">
                <button
                  class="variable-height mui-icon mui-icon-expand"
                  title="<%=l(:label_variable_height, scope: :issue_note_list)%>"
                  onclick="IssueNoteList.fn.setNoteHeightVariable(arguments[0], true)">
                </button>
                <button
                  class="fixed-height mui-icon mui-icon-compress"
                  title="<%=l(:label_fixed_height, scope: :issue_note_list)%>"
                  onclick="IssueNoteList.fn.setNoteHeightVariable(arguments[0], false)">
                </button>
                <button
                  class="collapse-row mui-icon mui-icon-top_panel_close"
                  title="<%=l(:label_collapse_row, scope: :issue_note_list)%>"
                  onclick="IssueNoteList.fn.collapseNoteRow(arguments[0], true)">
                </button>
                <button
                  class="expand-row mui-icon mui-icon-top_panel_open"
                  title="<%=l(:label_expand_row, scope: :issue_note_list)%>"
                  onclick="IssueNoteList.fn.collapseNoteRow(arguments[0], false)">
                </button>
              </div>
            </div>
            <div class="columns">
              <% query.inline_columns.each do |column| %>
                <% if column.name == :id || column.name == :subject %>
                  <% next %>
                <% end %>
                <div class="column-items">
                  <%= column.caption %>
                  <%= content_tag("span", column_content(column, issue), class: column.css_classes.to_s + " content") %>
                </div>
              <% end %>
            </div>
          </td>
          <td class="recent_notes">
            <%= render_issue_notes(issue, @number_of_notes) %>
          </td>
          <% if @allowed_to_add_note %>
          <td class="add-notes">
            <div class="add_notes_form_outer">
              <% if issue.notes_addable? %>
                <div class="action_buttons">
                  <%= button_tag(
                        "",
                        class: "pop-out mui-icon mui-icon-open_in_new",
                        type: "button",
                        onclick: "IssueNoteList.fn.toggleNotesPopOutState(" +
                          "$(this).closest('.add_notes_form_outer'), " +
                          "'##{issue.id}: #{issue.subject} - #{l(:label_add_note)}');",
                        title: l(:label_pop_out, scope: :issue_note_list)
                        ) %>
                </div>
                <%= form_tag "#{issue_note_list_index_path}/#{issue.id.to_s}/add_note",
                  id: "add_notes_form-#{issue.id.to_s}", multipart: true,
                  remote: true do %>
                  <%= hidden_field_tag 'number_of_notes', @number_of_notes, id: "number_of_notes-#{issue.id}" %>
                  <%= text_area_tag "issue[notes]", nil, cols: 60, rows: 10, class: "wiki-edit",
                        data: { auto_complete: true },
                        id: "add_issue_notes-#{issue.id.to_s}",
                        no_label: true %>
                  <%= wikitoolbar_for "add_issue_notes-#{issue.id.to_s}",
                    preview_issue_path(project_id: issue.project_id, issue_id: issue) %>
                  <div class="commands">
                    <% if issue.safe_attribute? "private_notes" %>
                      <div class="private_notes">
                        <%= check_box_tag "issue[private_notes]", true, false,
                              id: "add_issue_private_notes-#{issue.id.to_s}" %>
                        <label for="<%= "add_issue_private_notes-#{issue.id.to_s}" %>">
                          <%= l(:field_private_notes) %>
                        </label>
                      </div>
                    <% end %>
                    <%= submit_tag l(:button_submit) %>
                  </div>
                <% end %>
              <% end %>
            </div>
          </td>
          <% end %>
        </tr>
        <% query.block_columns.each do |column|
            if (text = column_content(column, issue)) && text.present? -%>
          <tr class="<%= current_cycle %>">
            <td colspan="<% @allowed_to_add_note ? 3 : 2 %>" class="<%= column.css_classes %> block_column">
              <% if query.block_columns.count > 1 %>
                <span><%= column.caption %></span>
              <% end %>
              <%= text %>
            </td>
          </tr>
        <% end -%>
      <% end -%>
      <% end -%>
    </tbody>
  </table>
</div>
</div>
